*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/fondoMenu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    

}
.menu{
    width: 100%;
    background-color: transparent;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    
    
    
}
button{

    padding: 20px 20px;
    border-radius: 15px;
    background-color: transparent;
    width: 250px;
    color: antiquewhite;
    font-size: 40px;
    text-align: center;
    border: 5px solid rgb(164, 29, 29);
    margin: 55px;
}
button:hover{
    background-color: rgba(224, 47, 31, 0.8);
    animation: flash;
    animation-duration: 1s;
  
}
