*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower';
}
body{
    
    width: 100vw;
    height: 100vh;
    background-image: url("../assets/fondoMenu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#h1{
    text-align: left;
    color: white;
    font-size: 50px;

}
#parrafo{
   text-align: left;
    color: white;
    font-size: 25px;
  
}
p{
    text-align: left;
    color: white;
    font-size: 25px;
   
}
